html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .navbar
            ul
                li
                    div.tile(onclick='/')
                        | Home
                li
                    .tile(href='register')
                        | Register
                li
                    .tile(onclick='login')
                        | Login
                li
                    .tile
                        | Test
        .wrapper
            h1
                | Home page