html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet")
body
    .navbar
        ul
            li
                a(href='/').nav-elem.logo BookCamp |
            li
                a(href='/').nav-elem Home 
            li
                a(href='#').nav-elem About 
            li
                i.fas.fa-shopping-cart.nav-elem
            .right
                li
                    a(href='login').nav-elem#active Login
                li
                    a(href='register').nav-elem Register 
    h1 
        | Logowanie
    .wrapper
        form(action="/login" method="post")  
            table.loginPanel
                if (success_msg.length)
                    each msg in success_msg
                        tr
                            td
                                label.successLbl #{msg}
                if (errors.length)
                    each error in errors
                        tr
                            td
                                label.errorLbl #{error}
                tr
                    td
                        input.searchInput#username(type='text' name='username' placeholder='nazwa użytkownika:')
                tr
                    td
                        input.searchInput#password(type='password' name='password' placeholder='hasło:')
                tr
                    td
                        button.searchBtn#login(type='submit' name='login') zaloguj