html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/main.css")
    body
        .navbar
            ul
                li
                    a(href='/').nav-elem.logo BookCamp |
                li
                    a(href='/').nav-elem Home 
                li
                    a(href='#').nav-elem About 
                li
                    i.fas.fa-shopping-cart.nav-elem
                .right
                    li
                        a(href='login').nav-elem Login
                    li
                        a(href='register').nav-elem#active Register 
        h1 
            | Rejestracja
            .wrapper
                form(action="/register" method="post")
                    table.loginPanel
                        if (errors.length)
                            each error in errors
                                tr
                                    td
                                        label.errorLbl #{error}
                        tr
                            td
                                input.searchInput#username(type='text' name='username' placeholder='nazwa użytkownika:')
                        tr
                            td
                                input.searchInput#email(type='email' name='email' placeholder='adres e-mail:')
                        tr
                            td
                                input.searchInput#password(type='password' name='password' placeholder='hasło:')
                        tr
                            td
                                button.searchBtn#register(type='submit' name='register') zarejestruj