body {
    margin: 0;
    background: #222;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 20px;
}

ul.book-box {
    width: 180px;
    height: 300px;
    background: darksalmon;
    margin: 5px;
}

li.book-container {
    display: block;
    padding: 5;
    font-size: 14;
}

li.book-container#title {
    font-size: 16;
    font-weight: bold;
}

.loginPanel {
    background-color: #935529;
    width: 300px;
    height: 150px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    position: relative;
}

.errorLbl {
    font-size: small;
    color: darkred;
}

.successLbl {
    font-size: small;
    color: green;
}

.navbar {
    background-color: #111;
}

.nav-elem,
.nav-elem:visited {
    height: 160px;
    width: 160px;
    /* font-size: 18px; */
    color: white;
    text-decoration: none;
}

.nav-elem#active {
    font-weight: bold;
    color: orange;
}

.nav-elem:hover {
    color: #ff6f61;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-weight: normal;
    font-family: 'Bodoni 72', sans-serif;
    font-size: 70px;
}