body {
    margin: 0;
    background: #222;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 26px;
}

.fa-shopping-cart {
    font-size: 18px;
}

.fa-shopping-basket {
    font-size: 24px;
}

.fa-shopping-basket:hover {
    cursor: pointer;
    color: coral;
}

.bookshelf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

ul {
    list-style: none;
    padding: 0;
}

.navbar ul{
    position: relative;
}
.navbar li {
    display: inline-block;
    padding: 20px;
}

.book-box:hover {
    box-shadow: 0 0 1em whitesmoke;
}


ul.book-box {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background: darksalmon;
    margin: 5px;
}

li.book-container {
    padding: 5;
    font-size: 14;
}

li.book-container.book-title {
    font-size: 16;
    font-weight: bold;
    text-align: center;
}

.loginPanel {
    background-color: #935529;
    width: 300px;
    height: 150px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.errorLbl {
    font-size: small;
    color: darkred;
}

.successLbl {
    font-size: small;
    color: green;
}

.navbar {
    background-color: #111;
}

.nav-elem,
.nav-elem:visited {
    color: white;
    text-decoration: none;
}

.right{
    position: absolute;
    top: 0;
    right: 0;
}

.nav-elem#active {
    font-weight: bold;
    color: orange;
}

.nav-elem:hover {
    color: #ff6f61;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-weight: normal;
    font-family: 'Bodoni 72', sans-serif;
    font-size: 70px;
}